* {
    box-sizing: border-box;
}

body {
    background-image: url(../assets/woodbackground2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.7);
    border-bottom: 2px solid #effc3f;
}

.headercontainer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.namebox {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.4);

}

.container {
    width: 85%;
    margin: 100px auto 60px auto;
    padding: 20px;
    background-color: rgba(241, 241, 241, 0.3);
    border: 1px solid #808080;
}

#contactConnect {
    display: flex;
    flex-wrap: wrap;
}

#connect {
    margin-top: 2vh;
    margin-left: 4vw;
}

#connect a {
    font-size: 1.3em;
    margin-left: 5vw;
    line-height: 2.3em;
}

h4 {
    color: #3f3f3f;
    font-size: 1.7em;
}

#mainpic {
    float: left;
    padding: 0px 20px 6px 0px;
}

nav {
    align-self: center;
    font-size: 1.3em;
    margin: 12px 0;
}

a {
    color: #3f3f3f;
    text-decoration: none;
}

a:hover {
    color: rgb(247, 210, 1);
}

h1 {
    font-size: 3em;
    line-height: 1.5em;
    text-align: left;
    padding-left: 18px;
    margin-top: 3px;
    color: #3f3f3f;
}

h1:hover {
    color: rgb(247, 210, 1);
}

h3, h5 {
    text-align: center;
    color: rgb(231, 231, 231);
}

h2 {
    text-align: left;
    color: #3f3f3f;
}

p, label {
    font-size: 1.2em;
    color: #3f3f3f;
}

label {
    padding-top: 10px;
    display: block;
}

.textbox {
    width: 500px;
}

.gallerydiv {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
}

.portpic {
    height: 200px;
    width: 300px;
    margin: 18px;
}

.picbanner {
    background-color: rgba(0, 0, 0, 0.55);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 130px;
    padding: 0 9px;
    width: 300px;
    height: 60px;
    position: absolute;
    z-index: 1;
}

.picbanner h3 {
    line-height: 15px;
    text-align: left;
}

.title {
    font-size: .8em;
}

a .picbanner:hover {
    background-color: rgba(0, 0, 0, 0.80);
}

.portimg {
    height: 100%;
    width: 100%;
}

button {
    font-size: 1em;
    line-height: 1.2em;
    color: #3f3f3f;
    background: #deee02b9;
    padding: 10px 20px;
    margin-bottom: 20px;
}

button:hover {
    color: rgb(150, 150, 150);
    background: #e7f153b9;
}

footer {
    z-index: 2;
    height: 45px;
    width: 100%;
    background-color: rgba(241, 241, 239, 0.7);
    margin-top: 30px;
    padding-top: 15px;
    border-top: 2px solid #effc3f;
    position: fixed;
    bottom: 0;
    font-size: .8em;
    text-align: center;
    color: #2b2b2b;

}

@media screen and (max-width: 980px) {

    .headercontainer {
        width: 660px;
    }

    .container {
      width: 660px;
      padding: 15px;
    }

    .portpic {
        height: 180px;
        width: 270px;
        margin: 20px;
    }
    
    .picbanner {
        margin-top: 120px;
        width: 270px;
    }
    
  }

  @media screen and (max-width: 768px) {

    .headercontainer {
        width: 600px;
    }

    .container {
      width: 600px;
      padding: 15px;
    }

    .portpic {
        height: 160px;
        width: 240px;
        margin: 20px 15px;
    }
    
    .picbanner {
        margin-top: 90px;
        width: 240px;
    }

    #mainpic {
        width: 210px;
        height: 218px;
        margin: 0px 15 px 8px 10px;
    }
  }

@media screen and (max-width: 640px) {

.headercontainer {
    width: 480px;
    display: block;
    }

h1 {
    line-height: 1.2em;
    padding-bottom: 6px;
    margin-bottom: 0px;
    }

nav {
    margin: 4px 0 2px 0;
    padding: 0px 0 9px 0;
    }

.container {
    width: 480px;
    padding-top: 9px;
    padding-left: 15px;
    margin-top: 110px;
    }
  
.portpic {
    height: 190px;
    width: 300px;
    margin: 20px 15px;
    }
      
.picbanner {
    margin-top: 120px;
    width: 300px;
    }
  
#mainpic {
    width: 220px;
    height: 230px;
    margin: 0px auto 9px auto;
    }

.textbox {
    width: 400px;
    }