* {
    box-sizing: border-box;
}

body {
    background-image: url(../assets/woodbackground2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.7);
    border-bottom: 2px solid rgb(168, 140, 12);
}

.headercontainer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.namebox {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.2);

}

h1 {
    font-size: 2.8em;
    line-height: 1.3em;
    text-align: left;
    padding-left: 18px;
    margin-top: 3px;
    color: rgb(68, 68, 68);
}

h1:hover {
    color: rgb(168, 140, 12);
}

nav {
    color: rgb(68, 68, 68);
    align-self: center;
    font-size: 1.3em;
    margin: 12px 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(168, 140, 12);
}

.topnav {
    margin: 0 -9px;
    padding: 9px 18px;
}

.topnav:hover {
    background-color: rgba(241, 241, 241, 0.5);
}

.container {
    width: 85%;
    margin: 85px auto 60px auto;
    padding: 15px 36px;
    background-color: rgba(241, 241, 241, 0.3);
    border: 1px solid rgb(138, 138, 138);
}

hr {
    border: 2px solid rgba(245,245,245,0.4);
    border-radius: 1px;
}

#contactConnect {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
}

#connect {
    margin-left: 5vw;
    color: rgb(68, 68, 68);

}

.c-link {
    font-size: 1.3em;
    margin-left: 4vw;
    line-height: 2em;
    margin-top: 6px;
    padding: 3px 15px;
    border-radius: 12px;
}

.c-link:hover {
    background-color: rgba(241, 241, 241, 0.2);
}

h4 {
    color: rgb(68, 68, 68);
    font-size: 1.6em;
    line-height: 1.2em;
    margin-top: 18px;
}

#mainpic {
    float: left;
    padding: 0px 20px 6px 0px;
}

h3, h5 {
    text-align: center;
    color: rgb(231, 231, 231);
}

h2 {
    text-align: left;
    color: rgb(68, 68, 68);
    line-height: 1.2em;
}

p {
    font-size: 1.2em;
    color: rgb(68, 68, 68);
}

.textbox {
    width: 500px;
    margin-top: 0px;
    margin-bottom: 18px;
    line-height: 2em;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
}

.textbox:hover {
    border: 2px solid rgba(68, 68, 68, 0.7);
}

.gallerydiv {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
}

.portpic {
    height: 200px;
    width: 300px;
    margin: 18px;
}

.picbanner {
    background-color: rgba(0, 0, 0, 0.55);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 130px;
    padding: 0 9px;
    width: 300px;
    height: 60px;
    position: absolute;
    z-index: 1;
}

.picbanner h3 {
    line-height: 15px;
    text-align: left;
}

.title {
    font-size: .8em;
}

a .picbanner:hover {
    background-color: rgba(0, 0, 0, 0.80);
}

.portimg {
    height: 100%;
    width: 100%;
}

button {
    font-size: 1em;
    line-height: 1.2em;
    color: #080808;
    background: rgba(168, 140, 12, 0.9);
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 3px;
}

button:hover {
    color: rgb(116, 116, 116);
    background: rgb(236, 201, 42);
}

footer {
    z-index: 2;
    height: 36px;
    width: 100%;
    background-color: rgba(241, 241, 239, 0.7);
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid rgb(168, 140, 12);
    position: fixed;
    bottom: 0;
    font-size: .8em;
    text-align: center;
    color: rgb(68, 68, 68);

}

@media screen and (max-width: 980px) {

    .headercontainer {
        width: 660px;
    }

    .container {
      width: 660px;
      padding: 15px;
    }

    .portpic {
        height: 180px;
        width: 270px;
        margin: 20px;
    }
    
    .picbanner {
        margin-top: 120px;
        width: 270px;
    }
    
  }

  @media screen and (max-width: 768px) {

    .headercontainer {
        width: 600px;
    }

    .container {
      width: 600px;
      padding: 15px;
    }

    .portpic {
        height: 160px;
        width: 240px;
        margin: 20px 15px;
    }
    
    .picbanner {
        margin-top: 90px;
        width: 240px;
    }

    #mainpic {
        width: 210px;
        height: 218px;
        margin: 0px 15 px 8px 10px;
    }
  }

@media screen and (max-width: 640px) {

.headercontainer {
    width: 480px;
    display: block;
    }

h1 {
    line-height: 1.2em;
    padding-bottom: 6px;
    margin-bottom: 0px;
    }

nav {
    margin: 4px 0 2px 0;
    padding: 0px 0 9px 0;
    }

.container {
    width: 480px;
    padding-top: 9px;
    padding-left: 15px;
    margin-top: 110px;
    }
  
.portpic {
    height: 190px;
    width: 300px;
    margin: 20px 15px;
    }
      
.picbanner {
    margin-top: 120px;
    width: 300px;
    }
  
#mainpic {
    width: 220px;
    height: 230px;
    margin: 0px auto 9px auto;
    }

.textbox {
    width: 400px;
    }